# Sentiment Analysis of Forum Posts relating to Ukraine-Russia War

In [26]:
# Imports
import pandas as pd

In [33]:
DATA_FILE = "parsed_data.csv"
df = pd.read_csv(DATA_FILE)
#df['created_utc']=(pd.to_datetime(df['created_utc'], unit='s'))
df.shape

(12503, 11)

In [28]:
df.head()

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,id,pov,title,score,author,num_comments,created_utc
0,0,0,0,0,ym9vw8,UA,NYT Kherson braces for battle as RF administra...,1,MardukSyria,0,1667594654
1,1,1,1,1,ym9t1i,RU,Russia’s Wagner Group commanders cut off convi...,1,Quitetheninja,1,1667594459
2,2,2,2,2,ym9qej,RU,Convict recruits are tortured and executed in ...,1,Quitetheninja,0,1667594289
3,3,3,3,3,ym9i5s,UA,love me some himars,1,9ND79,0,1667593756
4,4,4,4,4,ym96n2,UA,3 Ukrainian jets Allegedly MiG29 flying Eastwa...,1,TheHunter920,0,1667593002

In [29]:
df.loc[df["title"].isna()]

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,id,pov,title,score,author,num_comments,created_utc
12492,12492,12492,12492,12492,tic2c5,NONE,NaN,3,YungChaky,0,1647746558
12494,12494,12494,12494,12494,tic08e,NONE,NaN,1,YungChaky,0,1647746349
12502,12502,12502,12502,12502,tiaqd1,NONE,NaN,1,[deleted],0,1647741962

In [30]:
df["pov"].value_counts()

UA      6618
RU      5601
NONE     284
Name: pov, dtype: int64

In [34]:
# ukraine_povs = ["UKRAINE", "UC", "UKR", "UAPOV", "UKRAINIAN", "UA.POV", "UAPOV.", "UA.POV."]
# russian_povs = ["RUSSIAN", "RUPOV", "RUS", "RUSSIA"]

# df.loc[ df["pov"].isin(ukraine_povs), "pov"] = "UA"
# df.loc[ df["pov"].isin(russian_povs), "pov"] = "RU"
# df.loc[ ~df["pov"].isin(["UA", "RU"]), "pov"] = "NONE"

df["title"] = df["title"].str.strip(" \t\n|,.\"\':;")

df = df.iloc[: , 4:]

df

,id,pov,title,score,author,num_comments,created_utc
0,ym9vw8,UA,NYT Kherson braces for battle as RF administra...,1,MardukSyria,0,1667594654
1,ym9t1i,RU,Russia’s Wagner Group commanders cut off convi...,1,Quitetheninja,1,1667594459
2,ym9qej,RU,Convict recruits are tortured and executed in ...,1,Quitetheninja,0,1667594289
3,ym9i5s,UA,love me some himars,1,9ND79,0,1667593756
4,ym96n2,UA,3 Ukrainian jets Allegedly MiG29 flying Eastwa...,1,TheHunter920,0,1667593002
...,...,...,...,...,...,...,...
12498,tibu9f,NONE,Kharkov,4,YungChaky,0,1647745747
12499,tibre4,NONE,Geotag on photos and video and how to take the...,2,YungChaky,0,1647745467
12500,tibfg3,NONE,"update, useful links, more",5,YungChaky,0,1647744331
12501,tiassk,NONE,rUkraineWarVideoReport Sub in work in progress,5,YungChaky,9,1647742182
12502,tiaqd1,NONE,NaN,1,[deleted],0,1647741962

In [35]:
df.to_csv("parsed_data.csv")
df["pov"].value_counts()

UA      6618
RU      5601
NONE     284
Name: pov, dtype: int64